@import "tailwindcss";


@theme{

}

@layer base{

  body{
    background-color: #191919;
      

    color: #F5EEDC;
    

  }
  
  .playcontent{
    color: #F5EEDC;
  }

 .navbg{
  background-color: #1813353f;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:#190e2d solid 0.5px;
 }


  .text{
    font-family: "Major Mono Display", monospace;
    font-weight:400;

  }

  .fadeIn{
    opacity: 0;
    transform:translateY(20px);
    animation:fadeIn 2s ease-out forwards;
    animation-delay: 1.3s;
  }

  @keyframes fadeIn{
    to {
      opacity:1;
      transform:translateY(0px);
    }
  }
  .normText{
    font-family: "Jura", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }

  .navNormText{
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }

  .nav{
    font-family: "Jura", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }
  


  .nav > div:hover{
    animation: text-mockGlow 0.3s ease-in forwards;
    transform: scale(1.05);
    transition-duration: 1s;
  }

  @keyframes text-mockGlow {
    from {
      font-weight: 400;
    }
    to{
      font-weight: 600;
    }
  }
  .glow > a:hover{
    animation: text-mockGlow 0.3s ease-in forwards;
    transform: scale(1.1);
    transition-duration: 1s;
  }
  .me{
    position: relative;
    display: inline-block;
    font-family: "Major Mono Display", monospace;
  
  font-weight: 400;
  overflow: hidden;
  
  }
  

  
  @keyframes fade-inCenter {
    from {
      opacity: 0;
      
    }

    to{
      opacity: 1;
      
    }
  }

  .edu{
    opacity: 0;
    animation: appear 0.01s forwards;
    animation-delay: 3.58s;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  

}



