@import "tailwindcss";


@theme{
  --color-newgrey : #9b9b9bb3 ;
}

@font-face {
  font-family: 'CDTRegular';
  src: url('./assets/Fonts/CDTBivaque-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  
}

@font-face {
  font-family: 'CDTSlanted';
  src: url('./assets/Fonts/CDTBivaque-Slanted.ttf');
  font-weight: 300;
  font-style:normal
}

@layer base{

  body{
    background-color: #191919;
    
      

    color: #F5EEDC;
    

  }
  
  .playcontent{
    color: #F5EEDC;
  }

  


 .box{
  position: relative;
  
 
  overflow: hidden;

  
 }

 .scrollbar-hide::-webkit-scrollbar{
  display: none;
 }

 .crollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
 }

 .box::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: filter 0.3s ease;

 }

 .box:hover::before{
  filter: blur(2px);
 -webkit-filter: blur(2px);
 }

 .box > * {
  position: relative;
  z-index: 1;
 }

  .text{
    font-family: "Major Mono Display", monospace;
    font-weight:400;

  }

  .fadeIn{
    opacity: 0;
    transform:translateY(20px);
    animation:fadeIn 2s ease-out forwards;
    animation-delay: 1.3s;
  }

  @keyframes fadeIn{
    to {
      opacity:1;
      transform:translateY(0px);
    }
  }
  .normText{
    font-family: "Jura", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }

  .navNormText{
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }

  .nav{
    font-family: "Jura", sans-serif;
    font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }
  


  .nav > div:hover{
    animation: text-mockGlow 0.3s ease-in forwards;
    transform: scale(1.05);
    transition-duration: 1s;
  }

  @keyframes text-mockGlow {
    from {
      font-weight: 400;
    }
    to{
      font-weight: 600;
    }
  }
  .glow > a:hover{
    animation: text-mockGlow 0.3s ease-in forwards;
    transform: scale(1.1);
    transition-duration: 1s;
  }
  .me{
    position: relative;
    display: inline-block;
    font-family: "Major Mono Display", monospace;
  
  font-weight: 400;
  overflow: hidden;
  
  }
  

  
  @keyframes fade-inCenter {
    from {
      opacity: 0;
      
    }

    to{
      opacity: 1;
      
    }
  }

  
  
  
  

}



